* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  max-width: 80vw;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.container {
  display: flex;
  width: 80vw;
  height: auto;
  overflow: hidden;
  margin: auto;
  padding: 3em 0;
}

.slider {
  display: flex;
  width: 400%;
}

.slider input {
  appearance: none;
}

.image {
  width: 80vw;
  transition: 1s ease;
}

.image img {
  width: 100%;
  height: auto;
}

.image p {
  font-size: 1.5em;
  padding: 1em;
}

.radio-btns {
  display: inline-flex;
  width: 19vw;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  margin-left: 73%;
  margin-top: -7.5em;
  gap: 0.5em;
  padding: 1.2em;
  background-color: #fff;
}

.btn {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 1em;
  border: 0.125em solid blue;*/
  transition: 0.5s ease-in-out; 
  cursor: pointer;
}

.label-btn {
  width: 1.0em;
  height: 1.0em;
  border-radius: 1em;
  border: 0.125em solid blue;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.btn:hover > .label-btn{
  background-color: blue;  
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#radio-btn1:checked~.image1 {
  margin-left: 0px;
} 

#radio-btn2:checked~.image1 {
  margin-left: -25%;
} 

#radio-btn3:checked~.image1 {
  margin-left: -50%;
}

#radio-btn4:checked~.image1 {
  margin-left: -75%;
} 
